@import url('https://fonts.googleapis.com/css?family=Jockey+One|Kelly+Slab|Lekton:400,400i,700|Orbitron:400,500,700,900|Rajdhani:300,400,500,600,700&display=swap');

body {
  border: unset;
  margin: unset;
  background: black;
  line-height: 1;
  scroll-behavior: smooth;
  display: block;
  overflow-x: hidden;
  background-image: url(https://www.anthropic.tech/robots/dash.png);
  background-attachment: fixed;
  background-blend-mode: screen;
}

.body-wrap {
  position: relative;
  display: block;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  line-height: 1;
  transition: right 200ms ease;
}

.page-title {
  text-align: center;
}

header {
  position: absolute;
  top: 0px;
  width: -moz-available;
  width: -webkit-fill-available;
  height: 53px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  z-index: 4;
}

section {
  min-height: 50vh;
  padding: 1rem 1rem;
  /*! background-image: url(https://www.anthropic.tech/robots/dash.png); */
  display: flex;
  /*! background-blend-mode: overlay; */
  flex-flow: column;
  justify-content: center;
  /*! background-blend-mode: color-dodge; */
  /*! padding-top: 100px; */
}

footer {
  position: relative;
  bottom: 0px;
  width: 100vw;
  height: 53px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  /*! border-top: 2px solid aquamarine; */
  z-index: 5;
}

table {}

th {
  border-left: 2px solid white;
  padding: 4px 1rem;
}

th:nth-child(1) {
  border: none;
}

tr {}

td {
  text-align: center;
}

hr {
  padding:unset!important;
  width: 20%;
  margin-right: 80%;
  border: none;
  height: 2px;
  background: white;
  margin-top: 16px;
  margin-bottom: 16px;
}

#buy-small {
  display: none;
}

#buy-large {
  display: block;
}

.left form {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

h1, h2, h3, h4, h5, p, a {
  margin: unset;
  opacity: 0.95;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h1, h2 {
  font-family: 'Rajdhani', sans-serif;
}

.h1 {
  font-size: 32px;
  height: 32px;
  max-width: 128px;
  font-weight: bold;
  font-family: 'Rajdhani', sans-serif;
}

h3, h4 {
  font-family: 'Rajdhani', sans-serif;
}

p {
  font-family: 'Rajdhani', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

.raj {
  font-family: 'Rajdhani', sans-serif;
}

.bold {
  font-weight: 800;
}

.line-1 {
  margin-bottom: unset;
}

.lite {
  font-weight: 100;
}

.normal {
  font-weight: 400;
}

.bold {
  font-weight: 800;
}

.uppercase {
  text-transform: uppercase;
}

.strike {
  text-decoration: line-through;
}

.underline {
  border-bottom: 2px solid white;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.white {
  color: white;
}

.aqua {
  color: aquamarine;
}

.leftpad {
  padding-left: 0.5rem;
  margin-left: 0.5rem;
}

.centered {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.tcenter {
  text-align: center;
}

.button {
  color: white;
  border: 2px solid white;
  background-color: black;
  border-radius: 4px;
  padding: 1rem;
  transition: background-color 200ms, color 200ms, border 200ms ease;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: auto;
  width: -moz-fit-content;
  width: fit-content;
}

button {
  height: 100px !important;
}

.button-2 {
  color: black;
  background-color: white;
  border: 2px solid white;
  border-radius: 4px;
  padding: 1rem;
  cursor: pointer;
}

.button:hover {
  color: black;
  background-color: white;
  border: 2px solid white;
  padding: 1rem;
  cursor: pointer;
}

.price {
  color: black;
  background-color: white;
  border: 2px solid white;
  border-radius: 4px;
  padding: 1rem;
}

.rightflat {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.leftflat {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.text {
  max-width: 512px;
  padding: 1rem;
  border: 2px solid white;
  margin: 1rem auto;
}

.text-b {
  max-width: 512px;
  padding: 1rem;
  margin: 1rem auto;
}

.hero-desc-a {
  display: block;
}

.hero-desc-b {
  display: none;
}

.close {
  padding-top: 4px;
  display: none;
}

.leftline {
  border-left: 2px solid white;
}

.leftline {
  border-left: 2px solid white;
}

.no-marg {
  margin: unset;
  line-height: 1;
}

.black {
  color: black;
}

.white-back {
  background-color: white;
}

.white-backing {
  background-color: white;
}

.white-back .leftline {
  border-left-color: black;
}

.white-back hr {
  background-color: black;
}

.white-back .underline {
  border-bottom-color: black;
}

.white-back .specs-wrap {
  border-left-color: black;
}

.b-black {
  background-color: black;
}

.stretch {
  letter-spacing: inherit;
  transition: letter-spacing 500ms ease;
}

.stretch:hover {
  letter-spacing: 1px;
  cursor: pointer;
}

.black-shadow {
  box-shadow: 4px 4px black;
}

.product-image {
  filter: contrast(1.5);
  width: auto;
  max-width: 400px;
}

.product-image-feat {
  filter: contrast(1.5);
  width: 300px;
  margin: 16px auto;
  /*! transform: scale(1.1); */
}

.t-pad {
  padding: 1rem;
  border-radius: 4px;
  margin: 1rem auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}

.t-left {
  text-align: left;
}

.slide1 {
  max-width: 832px;
  margin: auto;
}

.slide3 {
  max-width: 800px;
  margin: auto;
  padding-top: 2rem;
}

.shard-title {
  background-image: url(pdx.jpg)!important;
  background-attachment: fixed!important;
  border-radius:8px;
}

.shard-title:hover {
  transition-delay:500ms;
  animation-play-state:paused;

}

.featured-product {
  max-width: 832px;
  border-radius: 4px;
  overflow: hidden;
}

.p1 {
  height: calc(400px - 2rem);
  width: 400px;
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  padding-top: 2rem;
  margin: 1rem;
  transition: box-shadow 200ms ease;
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.2), 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black;
  border-radius: 4px;
}

.padding-sm {
  padding: 1rem;
}

.padding-md {
  padding: 2rem;
}

.p1 .product-image-feat {
  transform: scale(1);
  transition: transform 200ms ease;
}

.p1 h3 {
  text-transform: uppercase;
  z-index: 2;
}

.p1:hover {
  background-image: url(https://www.anthropic.tech/robots/dash.png);
  background-blend-mode: overlay;
  background-color: aquamarine;
  animation: shifty 1s ease-out 1;
  box-shadow:inset 0px 0px 0px 8px rgba(255,255,255,0.5);
  transition: background-color 200ms, margin 200ms, border 200ms, box-shadow 200ms ease;
}

.p1:hover h3 {
  color: black;
  text-shadow: 2px 2px white;
}

.p1:hover img {
  transform: scale(1.1);
  transition: transform 200ms ease;
}

.logo-li-lg .li-bg {
  text-shadow: 0px 0px transparent;
  transition: text-shadow 200ms ease;
  transition-delay: 200ms;
}

.logo-li-lg {
  background-color: transparent;
  transition: background-color 200ms ease;
}

.logo-li-lg:hover {
  background-color: aquamarine;
  transition: background-color 200ms ease;
}

.logo-li-lg:hover .li-bg {
  text-shadow: 4px 4px black;
  transition: text-shadow 200ms ease;
  transition-delay: 200ms;
}

.title-section {
  max-height: 20vh;
}

.corner-cut {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 16px), calc(100% - 16px) 100%, 0 100%);
  margin: auto;
}

.slide2 {
  margin: auto;
}

.t-center {
  text-align: center;
}

.aquamarine-backing {
  background-color: aquamarine;
}

.aqua-backing {
  background-color: aquamarine;
}

.aqua-border {
  border: 2px solid aquamarine;
}

.black-backing {
  /*! clip-path: polygon(0 0, 100% 7%, 100% 100%, 0% 100%); */
  overflow: hidden;
  background: black;
  background-image: url;
  padding: 2rem 4rem;
}

.dots {
  background-image: url(https://www.pointblank.company/dot.png);
}

.padded {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  height: calc(100vh - 4rem);
  width: calc(100vw - 4rem);
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 2rem;
}

#bg {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  background-image: url(pdx.jpg);
  background-attachment: fixed;
  background-size: cover;
  filter: contrast(1.2)saturate(0.8);
  background-color: cadetblue;
  background-blend-mode: darken;
}

.hero {
  height: 100vh;
  background-color: aquamarine;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: darken;
  display: flex;
  flex-flow: column;
  justify-content: center;
  /*! clip-path: polygon(0 0, 100% 0, 100% 94%, 0% 100%); */
  clip-path: polygon(100% 0, 100% 100%, 71% 97%, 35% 94%, 0 100%, 0 0);
  padding: 1rem;
  padding-bottom: 3rem;
}

.showcase {
  padding: 1rem;
  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.show-row {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  max-width: 530px;
}

.show-row-mid {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  max-width: calc(832px + 2rem);
  min-height: calc(532px + 4rem);
}

.show-row-lg {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  max-width: 930px;
}

.show-row-wide {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.product {
  padding: 1rem;
  margin: 1rem;
  height: 200px;
  width: 200px;
  background-color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.1), 1px 1px aquamarine, 2px 2px aquamarine, 3px 3px aquamarine, 4px 4px aquamarine;
  border-radius: 8px;
  transition: background-color 200ms, margin 200ms, border 200ms, box-shadow 200ms ease;
}

.product-lg {
  padding: 1rem;
  margin: 1rem;
  height: 200px;
  width: 200px;
  background-color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  box-shadow: 4px 4px aquamarine;
}

.featured {
  z-index: 4;
  position: relative;
  padding-top: 4rem;
  padding-bottom: 100px;
  margin-top: -20px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  clip-path: polygon(0 0, 100% 16px, 100% 100%, 0 calc(100% - 8px));
}

.flex-start {
  justify-content: flex-start;
}

.specs-wrap {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  padding: 1rem;
  margin-left: 1rem;
  border-left: 2px solid white;
}

.specs-title {
  display: none;
}

.specs {}

.real-width {
  width: fit-content;
  width: -moz-fit-content;
  margin: 0.5rem auto;
}

.product-lg img {
  margin: 0px auto;
}

.product img {
  margin: 0px auto;
}

.product:hover {
  background-color: aquamarine;
  animation: shifty 1s ease-out 1;
  transition: background-color 200ms, margin 200ms, border 200ms, box-shadow 200ms ease;
}

.product-lg:hover {
  padding: 1rem;
  cursor: pointer;
  margin: 0rem;
  background: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  box-shadow: 0px 0px aquamarine;
}

.d-plus-transform {
  transform: rotate(19deg)translate(-50px, -70px);
}

.d-max-transform {
  transform: rotate(32deg)translate(-80px, -40px);
}

.menu-wrap {
  /*! margin-right: 16px; */
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: relative;
  right: 0px;
  top: 0px;
  z-index: 9;
}

#navwrap {}

#bodywrap {}

.back:hover h1 {
  color: aquamarine;
  cursor: pointer;
}

.nav-wrap {
  z-index:5;
  position: fixed;
  height: 100vh;
  width: 200px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: aquamarine;
  background-image: url(https://www.anthropic.tech/robots/dash.png);
  background-blend-mode: overlay;
  background-size: 10px;
  animation: shifty 10s linear infinite;
  transition: right 200ms ease;
  right: -200px;
}

@keyframes shifty {
  0% {
    background-position-x: 0%;
  }

  100% {
    background-position-x: 100%;
  }
}

@keyframes shard {
  0% {
    clip-path: polygon(0 0, calc(100% - 16px) 0, 100% 0, 100% calc(100% - 16px), 100% 100%, 16px 100%, 0 100%, 0 calc(100% - 16px) );
  }

  50%{
    clip-path: polygon(16px 0, calc(100% - 16px) 0, 100% 16px, 100% calc(100% - 16px), calc(100% - 16px) 100%, 16px 100%, 0 calc(100% - 16px), 0 16px);
  }

  100% {
    clip-path: polygon(16px 0, calc(100% - 16px) 0, 100% 16px, 100% calc(100% - 16px), calc(100% - 16px) 100%, 16px 100%, 0 calc(100% - 16px), 0 16px);
  }
}

@keyframes back-bounce {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1.1);
  }

  20% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.1);
  }

  40% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

#reset {
  display: none;
  height: 100vh;
  background-color: rgba(0, 0, 0, 255);
  width: 100vw;
  position: fixed;
  top: 0px;
  right: 100vw;
  z-index: 100;
  opacity: 0;
  transition: right 500ms, opacity 500ms ease;
  transition-delay: 200ms;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.logo-wrap {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.logo-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.logo-li {
  margin: 16px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 20px;
  width: 24px;
  padding-top: 4px;
  border: 2px solid white;
  transition: border-left-color 200ms, border-bottom-color 400ms, border-right-color 600ms, border-top-color 800ms, box-shadow 2000ms ease;
}

.logo-li-lg {
  margin-bottom: 16px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 226px;
  width: 256px;
  padding-top: 30px;
  border: 16px solid white;
  transition: border-left-color 200ms, border-bottom-color 400ms, border-right-color 600ms, border-top-color 800ms, box-shadow 2000ms ease;
}

.li-bg {
  font-weight: 800;
  text-align: center;
  margin: unset;
  font-size: 128px;
}

.hero-title {
  font-size: 56px;
  line-height: 0.5;
}

.hero-mini {
  background-color: aquamarine;
  background-image: url(https://www.anthropic.tech/robots/dash.png);
  background-blend-mode: overlay;
}

.hero-micro {
  min-height: 25vh !important;
  padding-top: 2rem;
  background-image: url(https://www.anthropic.tech/robots/dash.png);
  background-blend-mode: overlay;
}

.logo-li p {
  transition: color 1000ms ease;
}

.logo-li:hover p {
  color: aquamarine;
  cursor: pointer;
}

.logo-li:hover {
  box-shadow: 0px 0px 0px 2px aquamarine;
  border-left-color: aquamarine;
  border-bottom-color: aquamarine;
  border-right-color: aquamarine;
  border-top-color: aquamarine;
  cursor: pointer;
}

.logo {
  padding-left: 16px;
}

.title {
  font-size: 128px
}

#ham {}

#menu {
  display: none;
}

.menu {
  height: auto;
  width: 100%;
  position: relative;
  right: 0px;
  z-index: 50;
  flex-flow: column;
  justify-content: center;
  box-shadow: inset 0px 0px aquamarine;
  transition: box-shadow 200ms ease;
}

.menu:hover {
  box-shadow: inset -4px 0px aquamarine;
}

.ham:hover h2 {
  cursor: pointer;
  color: aquamarine;
}

.ham h2 {
  text-align: center;
  color: white;
  transition: color 200ms ease;
}

.back-2 {
  position: absolute;
  top: 0px;
  right: 0px;
}

.back-2 h1 {
  margin: auto;
  font-size: 32px;
  padding: 10px;
  color: black;
  transition: color 200ms ease;
}

.back-2:hover h1 {
  color: white;
  cursor: pointer;
  animation: back-bounce 1s linear 1;
}

.m-i {
  width: auto;
  display: flex;
  margin: auto auto;
  flex-flow: row;
  justify-content: center;
  padding: 0px 8px 0px 8px;
  transition: filter 200ms, box-shadow 500ms ease;
}

.m-i p {
  text-transform: uppercase;
  text-align: center;
  width: fit-content;
  width: -moz-fit-content;
  font-weight: 800;
  font-size: 32px;
  transition: color 200ms, width 200ms, box-shadow 500ms ease;
}

.m-i:hover p {
  box-shadow: 0px 4px white;
  color: white;
  cursor: pointer;
}

.foot-wrap {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  z-index: 7;
  background-image: url(https://www.anthropic.tech/robots/dash.png);
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-color: black;
  border-top: 2px solid white;
}

.row {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.right {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.left {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.just-left {
  justify-content: left;
}

.just-right {
  justify-content: right;
}

.t-right {
  text-align: right;
}

.t-left {
  text-align: left;
}

.descimg {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background: white;
  width: 128px;
  height: 128px;
  margin-right: 16px;
  border-radius: 4px;
  overflow: hidden;
}

.descimg img {
  width: 120px;
  padding: 4px;
}

::-webkit-scrollbar {
  z-index: 8;
  width: 12px;
  /* for vertical scrollbars */
  height: 12px;
  /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: aquamarine;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
  box-shadow: inset 0px 0px 0px 2px aquamarine;
}

::-webkit-scrollbar-thumb:active {
  background: black;
  box-shadow: inset 0px 0px 0px 2px aquamarine;
}

.legal {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-right: 2rem;
}

.legal p {
  line-height: 53px;
  /*! padding-top: 8px; */
}

@media screen and (min-width:900px) {}

@media screen and (max-width:900px) {
  header {
    max-height: 100px;
  }

  .m-i p {
    font-weight: 800;
    font-size: 24px;
    transition: color 200ms, box-shadow 500ms ease;
    margin: 8px 0px 4px 0px;
  }

  .show-row-mid {
    justify-content: center;
  }

  .descimg {
    width: 76px;
    height: 76px;
  }

  .descimg img {
    width: 60px;
    padding: 7px;
  }

  h1 {
    font-size: 32px;
  }

  .title {
    font-size: 64px
  }

  .hero-desc-a {
    display: none;
  }

  .hero-desc-b {
    display: block;
  }

  .featured-product {
    max-width: unset;
    border-radius: 4px;
    overflow: hidden;
    flex-flow: row;
    display: flex;
    justify-content: center;
  }

  .row {
    justify-content: center;
    flex-flow: wrap;
  }

  .showcase {
    border: 0px solid transparent;
  }

  .product-lg {
    width: auto;
    min-width: 60vw;
  }

  .ham {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .close {
    padding-top: 0.5rem;
    color: indianred;
    display: block;
    border-bottom-width: 0px;
    transition: border-bottom-width 200ms ease;
  }

  .close:hover {
    border-bottom: 4px solid indianred;
    cursor: pointer;
  }

  .m-i {
    text-align: left;
  }

  #buy-large {
    display: none;
  }

  #buy-small {
    display: block;
  }

  .button {}

  button {
    height: 68px !important;
  }

  .logo-li-lg {
    margin-bottom: 16px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 108px;
    width: 128px;
    padding-top: 20px;
    border: 12px solid white;
    transition: border-left-color 200ms, border-bottom-color 400ms, border-right-color 600ms, border-top-color 800ms, box-shadow 2000ms ease;
  }

  .li-bg {
    font-weight: 800;
    text-align: center;
    margin: unset;
    font-size: 64px;
  }

  .product-image {
    width: 80vw;
    max-width: 400px;
  }

  .hero-title {
    font-size: 30px;
    line-height: 0.5;
  }

  .imgdesc {
    display: none;
  }

  .specs-title {
    display: block;
  }

  @media screen and (max-width:580px) {
    .product-image-feat {
      width: 150px;
    }

    .imgdesc-feat h2 {
      font-size: 20px;
    }

    .d-plus-transform {
      transform: rotate(19deg)translate(-30px, -40px);
    }

    .d-max-transform {
      transform: rotate(33deg)translate(-50px, -25px);
    }

    .compat h2 {
      font-size: 16px;
    }

    .compat h3 {
      font-size: 16px;
    }

    .p1 {
      height: calc(200px - 2rem);
      width: 200px;
      display: flex;
      flex-flow: column;
      text-align: center;
      justify-content: center;
      padding-top: 2rem;
      margin: 1rem 1rem;
    }

    .p1:hover {
      cursor: pointer;
    }
  }

  @media screen and (max-width:350px) {
    .rightflat {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    .leftflat {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }
